@import '../../styles/_variables.scss';
.paymentitem-container{
    width: 70%;
    height: 8vw;
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 65px;
    background-color: $hkb-light-green;
    border-radius: 10px;
    display:flex;
    align-items: center;
    position: relative;
    opacity: 0.9;

    p{
        width: 100%;
        text-align: center;
        margin : 0
    }

    div{
        position: absolute;
        top: 5px;
        right: 5px;
    }


}
