@import '../../styles/_variables.scss';

.add-new-transaction-container{
	max-width: 600px;
	margin: 0 auto;
	padding: 10px;

	.inputs-container{
		display: flex;
		align-items: center;
		justify-content: stretch;
		margin: 10px 0 0 0;
	}

	.selector-wrapper{
		display: flex;
		align-items: center;

		.category-wrapper{
			margin-left: auto;
			display: flex;
		}
		.mode-wrapper{
			display: flex;
		}

		.category-container{
			opacity: 0.5;
			transition: all 200ms ease ;

			&:hover {
				opacity: 1;
			}

			i{
				width: 36px;
				height: 36px;
				border-radius: 5px;

				display: flex;
				align-items: center;
				justify-content: center;

				margin: 0 5px;
			}

			i.income {
				color: $hkb-blue;
				background: $hkb-light-blue;
			}

			i.outcome {
				color: $hkb-red;
				background: $hkb-light-red;
			}

			.category-description{
				color: $hkb-black;
				text-align: center;
				opacity: 0.7;
				margin-top: 1px;
				font-size:8px;
			}
		}


		.category-container.selected{
			opacity: 1;
		}

	}
	.add-new-btn {
		width: 50%;
		margin: 0px auto;
		align-self: auto;
	}
}


