@import '../../styles/_variables.scss';

.add-new-transaction-container{
	max-width: 600px;
	margin: 0 auto;
	padding: 10px;

	.inputs-container{
		display: flex;
		align-items: center;
		justify-content: stretch;
		margin: 10px 0 0 0;
	}

	.selector-wrapper{
		display: flex;
		align-items: center;

		.category-wrapper{
			margin-left: auto;
			display: flex;
		}
		.mode-wrapper{
			display: flex;
		}

	}
	.add-new-btn {
		width: 50%;
		margin: 0px auto;
		align-self: auto;
	}
}


