@import '../../styles/_variables.scss';

.calendar-item-container{
	display: flex;
	flex-direction: column;
	border: 0.5px solid $hkb-white;
	padding: 4px;

	.price-container {
		margin-left: auto;
		margin-top: auto;

		div {
			display: flex;
			justify-content: flex-end;
		}
	}
}
