@import '../../styles/_variables.scss';

.chart-selector {
	margin-top: 10px;
	margin-left: 15px;
	display: flex;

}

.charts {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.pic {
		align-self: center;
	}

	.spliiter {
		width:100%;
		border:1px solid $hkb-white;
		margin-bottom: 50px;
	}
}
