@import '../../styles/_variables.scss';

.sidebar-container{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100vh;
	width: 50px;

	background-color: $hkb-white;

	.main-icon {
		margin: 40px 0;
		font-weight: 900;
		color: $baemin-main;
		// background-color: $baemin-main;
		padding: 2px;
	}

	.icon-wrapper {
		height: 200px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}

	.i {
		display: flex;
		align-items: center;
		justify-content: center;

		bottom: 0;
	}
}
