@import '../../styles/_variables.scss';

.sidebar-container{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	height: 100vh;
	width: 70px;

	background-color: $hkb-white;
	display: flex;
	flex-direction: column;
	align-items: center;

	.main-icon {
		margin: 40px 0;
		font-weight: 900;
		color: $baemin-main;
		// background-color: $baemin-main;
		padding: 2px;
	}

	.icon-wrapper {
		margin-top: auto;
		div{
			margin-bottom: 10px;
		}
	}

    .date-container {
        display: flex;
        flex-direction: column;
		align-items: center;

		.year{
			opacity: 0.5;
			font-size: 10px;
		}
		.month{
			font-variant-numeric: tabular-nums;
			font-size: 32px;
			font-weight: 900;
			margin: -4px 0;
		}
		.month-eng{
			font-size: 8px;
		}
	}

	.i {
		display: flex;
		align-items: center;
		justify-content: center;

		bottom: 0;
	}
}
