@import '../../styles/_variables.scss'; 
header{
    text-align: center;
    background-color: $primary-color;
    color: $white;
    height: 70px;
    p{
        margin: 0;
        font-size: 25px;
        padding-top: 22px;
    }
    div{
        position: relative;
        bottom: 12px;
        right: 19px;
        text-align: right;
    }
}
