@import '../../styles/_variables.scss';
header{
    // background-color: $baemin-main;
    // width: 80%;
    display: flex;
    color: $hkb-black;
    height: 70px;
    width : 100%;
    margin-bottom: 40px;

    h1{
        // text-align: center;
        margin-left : 20px;
        font-weight: 800;
    }


    .filter-selectors {
        margin-top : 20px;
        width: fit-content;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .filter-selector {
        display: flex;
        align-items: center;

        .price-sum.income {
            color: $hkb-blue;
        }

        .price-sum.outcome {
            color: $hkb-red;
        }

        .price-sum {
            min-width: 120px;
            opacity: 0.6;
        }

        .price-sum.selected {
            opacity: 1;
        }
    }

    .filter-selector + .filter-selector {
        margin-top: 3px;
    }
}
