@import '../../styles/_variables.scss';
.chart-bar{
    display: flex;
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.bar-chart-box{
    display: flex;
}
#bar-chart{
    width : 500;
    height: 200;
}
p{
    margin: 0;
    font-size: 12px;
    box-sizing: border-box;
}
.line{
    transition: 0.8s;
    animation: animate 1 4s;
}
@keyframes animate{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}
.list{
    margin:0 10px;
}