@import '../../styles/_variables.scss';

.transaction-container{
	justify-content: center;
	width: 100%;

	.date-grouped-container{
		width: 100%;
		min-height: 80px;

		padding: 5px 10px;
		margin: 20px auto;

	}

	.price-summary{
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 20px;

		p {
			margin-left: 20px;
		}
	}



}


.income {
	color: $hkb-blue;
}

.outcome {
	color: $hkb-red;
	margin-left: 5px;
}

.right.outcome {
	color: $hkb-red;
	margin-left: 5px;
}

.date-info-container{
	width: 60%;
	min-height: 80px;

	display: flex;
	align-content: center;
	margin: 0 auto;
	margin-bottom: -50px;
}

.right {
	margin-left: auto;
}

