.dark-mode {
	$hkb-black : #08090B;
	$hkb-blue : #0D5BFA;
	$hkb-red: #F4F6F9;
	$hkb-white: #F4F6F9;
	$hkb-green:#21CF6E;
	$hkb-light-red: #d85454;
	$hkb-light-green:#4FED93;
	$hkb-light-blue:#5AD7f9
}

$white : #fff;
$primary-color : #04c584;
$silver : #9EA1A2;
$blue : #2370b6;

$hkb-black : #08090B;
$hkb-blue : #0D5BFA;
$hkb-red: #eb0b0b;
$hkb-white: #F4F6F9;
$hkb-green:#21CF6E;
$hkb-light-red: #ffd5cd;
$hkb-light-green:#4FED93;
$hkb-light-blue:#5AD7f9;

$baemin-main : #2AC1BC;
